<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog | CodeSoc</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="static/styles/reset.css">
    <link rel="stylesheet" href="static/styles/styles-navbar.css">
    <link rel="stylesheet" href="static/styles/styles-body-blog.css">
    <link rel="stylesheet" href="static/styles/styles-footer.css">
    <link rel="stylesheet" href="https://use.typekit.net/kfd8owr.css">
    <link rel="shortcut icon" type="image/png" href="/static/assets/Icons/favicon.ico">
  </head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6Q2ZMD5NS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M6Q2ZMD5NS');
  </script>

  <body>

    <script src = "static/js/jquery-3.6.0.min.js"></script>
    <script src = "static/js/global.js"></script>
    <script src = "static/js/blog.js"></script>

    <div class="backup-button">
      <a href="#"><img src="/static/assets/Icons/backupbutton.png"></a>
    </div>

    {% include "reusable/header.html" %}

    <main>
        <h1 id="pageTitle">Our Blog<span>.</span></h1>
        <article id="latestBlogPost">
            <img src="/static/assets/blogPictures/{{ latestBlogPost.postImageURL }}">
            <section>
                <h3 id="latestBlogPostText">Latest Blog Post</h3>
                <h4 class="postCreationDate">{{ latestBlogPost.postCreationDate }}</h4>
                <h2 class="postTitle">{{ latestBlogPost.postTitle }}</h2>
                <p class="postDescription">{{ latestBlogPost.postDescription }}</p>
                <h4 class="postAuthor">{{ latestBlogPost.postAuthor }}</h4>
                <button onclick="openBlogPost({{ latestBlogPost.postID }})">Read More</button>
                <p id="new-bubble">New</p>
            </section>
        </article>

        <hr>

        {% for blogPost in blogPosts %}
            {% include "reusable/blogPostWidget.html" %}
        {% endfor %}

        <section id="contact">
            <a href="mailto:warwickcodingsociety@gmail.com?subject=Blog Submission"><button>Have something interesting to write about? Click here to email us!</button></a>
        </section>
    </main>



    {% include "reusable/footer.html" %}

  </body>
</html>