<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/styles-navbar.css">
    <link rel="stylesheet" href="/static/styles/styles-body-blog.css">
    <link rel="stylesheet" href="/static/styles/styles-footer.css">
    <link rel="stylesheet" href="https://use.typekit.net/kfd8owr.css">
    <link rel="shortcut icon" type="image/png" href="/static/assets/Icons/favicon.ico">
  </head>

  <body>

    <script src = "/static/js/jquery-3.6.0.min.js"></script>
    <script src = "/static/js/global.js"></script>

    <div class="backup-button">
      <a href="#"><img src="/static/assets/Icons/backupbutton.png"></a>
    </div>

    {% include "reusable/header.html" %}

    <main>

        <h1>Blog Not Found</h1>

    </main>



    {% include "reusable/footer.html" %}

  </body>
</html>