<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Careers | CodeSoc</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="static/styles/styles-navbar.css">
    <link rel="stylesheet" href="static/styles/styles-body-careers.css">
    <link rel="stylesheet" href="static/styles/styles-footer.css">
    <link rel="stylesheet" href="https://use.typekit.net/kfd8owr.css">
    <link rel="shortcut icon" type="image/png" href="/static/assets/Icons/favicon.ico">
  </head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6Q2ZMD5NS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M6Q2ZMD5NS');
  </script>

  <body>

    <script src = "/static/js/jquery-3.6.0.min.js"></script>
    <script src = "/static/js/global.js"></script>


    <div class="backup-button">
      <a href="#"><img src="/static/assets/Icons/backupbutton.png"></a>
    </div>

    {% include "reusable/header.html" %}

    <div class="body-all-container">
      <div class="body-container">
        <div class="body-title-container">Our Career Resources<span>.</span></div>
        <div class="top-container">
          <div class="top-left-container">
            <div class="title-text">Internships Spreadsheet</div>
            <div class="body-1-text">Listed in the spreadsheet are all spring weeks and summer internships for students. We provide information such as opening dates, links, CV requirements, question types etc...</div>
            <div class="body-sub-title">Includes roles for:</div>
            <div class="body-sub-text">Tech, Fintech, SWE, Trading, Consulting, and more...</div>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/10gQyhc2PlJ8-8kbSwapwq3mrQ_AZlXMACZh0RoVWz-Y/edit?usp=sharing"><div class="spreadsheets-button">View Spreadsheet</div></a>
          </div>

          <div class="top-right-container">
            <div class="mac-nav-bar">
              <img class="whole-navbar" src="/static/assets/Graphics/mac-navbar.png">
              <p class="mac-nav-bar-title">CodeSoc Spreadsheet</p>
            </div>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/10gQyhc2PlJ8-8kbSwapwq3mrQ_AZlXMACZh0RoVWz-Y/edit?usp=sharing"><img class="spreadsheetimg" src="/static/assets/soc-images/spreadsheet.jpg"></a>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/10gQyhc2PlJ8-8kbSwapwq3mrQ_AZlXMACZh0RoVWz-Y/edit?usp=sharing"><div class="spreadsheets-button2">View Spreadsheet</div></a>
          </div>
        </div>

        <div class="bot-container">
          <div class="bot-left-container">
            <div class="bot-internal-container">
              <div class="internal">
                <div class="internal-title">Build your CV<span>.</span></div>
                <div class="internal-section">
                  <div class="internal-section-left">
                    <div class="section-title">As a Student Mentor</div>
                    <div class="section-body">Mentor for 1 hour a week beginner student coders, freshers, or students trying to break into a tech career.</div>
                  </div>
                  <div class="internal-right">
                    <a target="_blank" href="https://forms.gle/5u1UfdktBsobwtd29"><div class="button-internal">Learn More</div></a>
                  </div>
                </div>
                <div class="internal-section">
                  <div class="internal-section-left">
                    <div class="section-title">As a Workshop Tutor</div>
                    <div class="section-body">Be a tutor at our workshops, we have already prepared content, or you can also tutor your own content.</div>
                  </div>
                  <div class="internal-right">
                    <a target="_blank" href="https://forms.gle/aTyiBPQbYdZS3jp69"><div class="button-internal">Learn More</div></a>
                  </div>
                </div>
                <div class="internal-section-special">
                  <div class="internal-section-left">
                    <div class="section-title">By Adding a Skill</div>
                    <div class="section-body">Take one of our courses and display your newly acquired skill in your CV! We're working on adding more courses!</div>
                  </div>
                  <div class="internal-right">
                    <a href="/learn/courses"><div class="button-internal">Learn More</div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bot-right-container">
            <div class="bot-internal-container">
              <div class="internal">
                <div class="internal-title">Career Events<span>.</span></div>
                <div class="internal-section">
                  <div class="internal-section-left">
                    <div class="section-title">Technical Interview Workshop</div>
                    <div class="section-body">We run termly events in association with the Warwick Careers Team on the Technical Interview Process</div>
                  </div>
                  <div class="internal-right">
                    <a href="/events"><div class="button-internal">Learn More</div></a>
                  </div>
                </div>
                <div class="internal-section">
                  <div class="internal-section-left">
                    <div class="section-title">Spring Week Talks</div>
                    <div class="section-body">We will be running talks on spring week internships. We will share student experiences, insights and general tips.
                    </div>
                  </div>
                  <div class="internal-right">
                    <a href="/events"><div class="button-internal">Learn More</div></a>
                  </div>
                </div>
                <div class="internal-section-special">
                  <div class="internal-section-left">
                    <div class="section-title">Careers Day</div>
                    <div class="section-body">We are working on organising an open day for top tech company recruiters to come on campus.</div>
                  </div>
                  <div class="internal-right-coming-soon">
                    <div class="button-internal-coming-soon">Coming Soon</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "reusable/footer.html" %}

  </body>
</html>