<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Develop | CodeSoc</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="static/styles/develop/styles-footer-develop.css">
    <link rel="stylesheet" href="static/styles/develop/styles-body-develop.css">
    <link rel="stylesheet" href="static/styles/develop/styles-navbar-develop.css">
    <link rel="stylesheet" href="https://use.typekit.net/kfd8owr.css">
    <link rel="shortcut icon" type="image/png" href="/static/assets/Icons/favicon.ico">
  </head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6Q2ZMD5NS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M6Q2ZMD5NS');
  </script>

  <body>

    <script src = "static/js/jquery-3.6.0.min.js"></script>
    <script src = "static/js/global.js"></script>

    <div class="backup-button">
      <a href="#"><img src="/static/assets/Icons/backupbuttonwhite.png"></a>
    </div>

    {% include "reusable/header.html" %}

    <div class="top-container">
      <div class="top">
        <div class="top-title">Bridging students and entrepreneurs<span>.</span></div>
        <div class="top-left-right-container">
          <div class="top-left-part">
            <div class="left-title">Warwick Developer Network</div>
            <div class="left-body">
              <div class="body-title">For Students:</div>
              <div class="body-text">Want to become a co-founder, participate in building a startup, or just start a side-project? Apply to become a WDN Developer, and get access to all the exclusive WDN opportunities.</div>
            </div>
            <div class="left-body-2">
              <div class="body-title">For Entrepreneurs:</div>
              <div class="body-text">Want to build your startup, idea, or project, but don't have the technical skill? You need to find a technical co-founder or onboard a programmer to your team. And for that, you're in the right place!</div>
            </div>
          </div>
          <div class="top-right-part">
            <img src="/static/assets/Graphics/wdnfounders.png">
          </div>
        </div>
      </div>
    </div>

    <div class="mid-container">
      <div class="mid-partners-title">Our Partners</div>
      <div class="mid-partners-container">
        <div class="mid-partners-imgs">
          <div class="company-logo">
            <img class="img-normal" src="/static/assets/Icons/wtech.png">
            <div class="company-description wtech">
              Warwick TECH
            </div>
          </div>
          <!-- <div class="company-logo">
            <img class="img-normal" src="/static/assets/Icons/dss.png">
            <div class="company-description wdss">
              Warwick Data Science Society
            </div>
          </div> -->
          <div class="company-logo">
            <img class="img-special" src="/static/assets/Icons/wwcs.png">
            <div class="company-description wwcs">
              Warwick Women's Careers Society
            </div>
          </div>
          <div class="company-logo">
            <img class="img-normal" src="/static/assets/Icons/wweng.png">
            <div class="company-description wweng">
              Warwick Engineering Society
            </div>
          </div>
          <div class="company-logo">
            <img class="img-special" src="/static/assets/Icons/enactus.png">
            <div class="company-description enactus">
              Warwick Enactus
            </div>
          </div>
        </div>
      </div>
      <div class="mid-network-title">Join the Network!</div>
    </div>

    <div class="bot-container">
      <div class="bot">
        <div class="bot-left-container">
          <img class="blur" src="/static/assets/Graphics/developblur.png">
          <div class="container-container-container">
            <div class="img-container">
              <img src="/static/assets/Graphics/student-developer.png">
            </div>
            <div class="container-title">For Student Developers<span>.</span></div>
            <div class="list-container">
              <div class="list-item">
                <div class="list-item-container">
                  <div class="number-circle">1</div>
                  <div class="item-title">Complete the form</div>
                </div>
              </div>
              <div class="list-item">
                <div class="list-item-container">
                  <div class="number-circle">2</div>
                  <div class="item-title">Get access to all opportunities</div>
                </div>
              </div>
              <div class="list-item">
                <div class="list-item-container">
                  <div class="number-circle">3</div>
                  <div class="item-title">Choose &#38; join the project!</div>
                </div>
              </div>
            </div>
            <div class="container-button">
              <a target="_blank" href="https://forms.gle/poQkevVRU6RFgTVB7"><div class="button-itself">Fill Form</div></a>
            </div>
          </div>
        </div>

        <div class="bot-right-container">
          <img class="blur-right" src="/static/assets/Graphics/developblur.png">
          <div class="container-container-container">
            <div class="right-img-container">
              <img src="/static/assets/Graphics/business-entrepreneur.png">
            </div>
            <div class="container-title">For Businesses & Entrepreneurs<span>.</span></div>
            <div class="list-container">
              <div class="list-item">
                <div class="list-item-container">
                  <div class="number-circle">1</div>
                  <div class="item-title">Complete the form</div>
                </div>
              </div>
              <div class="list-item">
                <div class="list-item-container">
                  <div class="number-circle">2</div>
                  <div class="item-title">Meet interested developers</div>
                </div>
              </div>
              <div class="list-item">
                <div class="list-item-container">
                  <div class="number-circle">3</div>
                  <div class="item-title">Welcome them to your team!</div>
                </div>
              </div>
            </div>
            <div class="container-button">
              <a target="_blank" href="https://forms.gle/SDmtKkrrZdYYG5Cp6"><div class="button-itself">Fill Form</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gotquestions">
      <div class="questions-title">Questions?</div>
      <div class="questions-email">Get in touch: <a href="mailto:Warwickdevelopernetwork@gmail.com">warwickdevelopernetwork@gmail.com</a></div>
    </div>

    {% include "reusable/footer.html" %}

  </body>
</html>