<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mentorship | CodeSoc</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="/static/styles/styles-navbar.css">
    <link rel="stylesheet" href="/static/styles/styles-body-mentorship.css">
    <link rel="stylesheet" href="/static/styles/styles-footer.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="https://use.typekit.net/kfd8owr.css">
    <link rel="shortcut icon" type="image/png" href="/static/assets/Icons/favicon.ico">
  </head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6Q2ZMD5NS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M6Q2ZMD5NS');
  </script>

  <body>

    <script src = "/static/js/jquery-3.6.0.min.js"></script>
    <script src = "/static/js/global.js"></script>
    <script src = "/static/js/mentorship.js"></script>

    <div class="backup-button">
      <a href="#"><img src="/static/assets/Icons/backupbutton.png"></a>
    </div>

    {% include "reusable/header.html" %}

    <main>

        <h1 id="pageTitle">Our Mentorship Program<span>.</span></h1>

        <div class="top">
          <div class="topLeft">

            <div class="topLeftinner">
                <h1>Regular Mentorship<span>.</span></h1>
                <p>Beginner student coders are paired with intermediate/advanced programmers. The goal is for mentors to help mentees discover the world of coding, to guide them in their journey, to help them avoid mistakes, and suggest projects or learning resources.</p>
            </div>
            <!-- 
            <div style="display: flex; align-items: baseline;">
              <p style="font-size: 20px; font-weight: 500;">Women in Coding Mentorship<span style="color: var(--woco-primary);">.</span></p> <p style="margin-left: 10px; background-color: var(--background-100); border-radius: 5px; padding: 2px 7px; cursor: pointer;">Learn more <span style="color: var(--woco-primary); font-weight: 600;">&#8599;</span></p>
            </div>
            -->

            <div class="topLeftinner">
                <h1>How does it work?</h1>
                <ul>
                    <li>Paired depending on Mentor skills & Mentee interest</li>
                    <li>Meet every Wednesday 6-7pm at our Coding Night</li>
                </ul>
            </div>

          </div>
          <img src="/static/assets/soc-images/mentorship2.jpg" alt="wocologo">
        </div>


        <div class="widgets">
          <h2>Apply</h2>
          <div class="bot-box-container">
            <div class="bot-box">
              <p class="box-title">Become a mentor</p>
              <div class="box-content">
                <img src="/static/assets/Graphics/3dmentor.png" alt="mentor">
                <ul>
                  <li>Meet new students</li>
                  <li>Great addition to your CV/Resume</li>
                  <li>"The best way to learn is by teaching"</li>
                  <li>Guide a fellow student in their journey</li>
                </ul>
              </div>
              <a target="_blank" href="oops.... doesnt exist yet"><button>Apply now</button></a>
            </div>
            <div class="bot-box">
              <p class="box-title">Become a mentee</p>
              <div class="box-content">
                <img src="/static/assets/Graphics/3dmentee.png" alt="mentor">
                <ul>
                  <li>Learn a new skill</li>
                  <li>Get help and guidance from a mentor</li>
                  <li>You are expected to be engaged</li>
                  <li>Guide a fellow student in their journey</li>
                </ul>
              </div>
              <a target="_blank" href="oops... doesnt exist yet"><button>Apply now</button></a>
            </div>
          </div>
        </div>

        <div class="mentors">
          <h2>Our mentors</h2>
          <div class="mid-team-container">
            <div class="mid-team-member">
              <img src="/static/assets/exec-images/alex.jpg" alt="">
              <p>Alex Do</p>
              <p>C++, Rust, HPC</p>
            </div>
            <a target="_blank" href="oops, not available">
              <div class="mid-team-member">
                <img src="/static/assets/exec-images/profilespecial.webp" alt="">
                <p>Want to join?</p>
                <p>Click to apply!</p>
              </div>
            </a>
          </div>
        </div>

        <div class="widgets">
          <h2>Resources</h2>
          <div class="bot-box-container">
            <div class="bot-box-resources">
              <p class="box-title">For Mentors</p>
              <div>
                <a target="_blank" href="" class="resource-link">1. CodeSoc Mentorship Program Onboarding</a>
                <p class="resource-info">Contains info on how to be a good mentor, how to communicate to beginners and resources you can recommend to your mentees.</p>
              </div>
              <div>
                <a target="_blank" href="" class="resource-link">2. University of Warwick Mentorship HandBook</a>
                <p class="resource-info">Made by the University, this document contains loads of information on how what is Mentoring and to be a good one.</p>
              </div>
              <div>
                <a target="_blank" href="" class="resource-link">3. University of Warwick Peer Support</a>
                <p class="resource-info">Also made by the University, these are various resources on good practices for peer support and mentoring at Warwick.</p>
              </div>
            </div>
            <div class="bot-box-resources">
              <p class="box-title">For Mentees</p>
              <div>
                <a target="_blank" href="" class="resource-link">1. CodeSoc Mentorship Program Onboarding</a>
                <p class="resource-info">Contains info on how to be a good mentor, how to communicate to beginners and resources you can recommend to your mentees.</p>
              </div>
              <div>
                <a target="_blank" href="" class="resource-link">2. CodeSoc Mentorship Program Onboarding</a>
                <p class="resource-info">Contains info on how to be a good mentor, how to communicate to beginners and resources you can recommend to your mentees.</p>
              </div>
              <div>
                <a target="_blank" href="" class="resource-link">3. CodeSoc Mentorship Program Onboarding</a>
                <p class="resource-info">Contains info on how to be a good mentor, how to communicate to beginners and resources you can recommend to your mentees.</p>
              </div>
            </div>
          </div>
        </div>

    </main>

    {% include "reusable/footer.html" %}

  </body>
</html>
