<footer class="footer">
    <div class="footer-container">
      <div class="left-footer">
        <div class="logosmallwhite-container">
            {% if pageName != "woco" %}
                <img class="logosmallwhite" src="/static/assets/Graphics/logosmallwhite.png">
            {% else %}
                <img class="logosmallwhite" src="/static/assets/Graphics/logowocomedium.png">
            {% endif %}
        </div>
        <div class="footer-socials">
            <a target="_blank" href="https://www.linkedin.com/company/warwickcodingsociety/"><img src="/static/assets/Icons/linkedin.png"></a>
            <a target="_blank" href="https://discord.com/invite/NDCg2VwQxZ"><img src="/static/assets/Icons/discord.png"></a>
            <a target="_blank" href="https://www.instagram.com/wwcodesoc/"><img src="/static/assets/Icons/instagram.png"></a>
            <a target="_blank" href="https://github.com/uowcodingsociety"><img src="/static/assets/Icons/github.png"></a>
        </div>
      </div>
      <div class="right-footer">
        <div class="navigation-footer">
          <a href="/">Home</a>
          <a href="/learn">Learn</a>
          <a href="/careers">Careers</a>
          <!-- <a href="/develop">Develop</a> -->
          <a href="/events">Events</a>
          <a href="/exec-team">Exec Team</a>
          <a target="_blank" href="https://www.warwicksu.com/societies-sports/societies/61317/">Membership</a>
        </div>
        <div class="copyright-footer-container">
          <div class="copyright-footer">Copyright &#169; University of Warwick Coding Society. Website built by <span>CodeSoc</span></div>
        </div>
      </div>
    </div>

    <div class="mobile-footer-container">
      <div class="mobile-logo-copyright">
        {% if pageName != "woco" %}
            <img src="/static/assets/Graphics/logosmallwhite.png">
        {% else %}
            <img src="/static/assets/Graphics/logowocomedium.png">
        {% endif %}
        <div class="mobile-copyright">Copyright &#169; University of Warwick Coding Society. Website built by <span>CodeSoc</span></div>
      </div>
      <div class="mobile-socials">
        <img src="/static/assets/Icons/linkedin.png">
        <img src="/static/assets/Icons/discord.png">
        <img src="/static/assets/Icons/instagram.png">
        <img src="/static/assets/Icons/github.png">
      </div>
      <div class="mobile-footer-navigation1">
        <a href="/">Home</a>
        <a href="/learn">Learn</a>
        <a href="/careers">Careers</a>
        <!-- <a href="/develop">Develop</a> -->
        <a href="/events">Events</a>
      </div>
      <div class="mobile-footer-navigation2">
        <a href="/exec-team">Meet the Exec</a>
        <a target="_blank" href="https://www.warwicksu.com/societies-sports/societies/61317/">Membership</a>
      </div>

    </div>
  </footer>
