<div class="newsWidget">
    <div class="newsContent">
        <h3 class="newsTitle">{{ newsDict["news"].newsTitle }}</h3>
        <h4 class="postCreationDate">{{ newsDict["news"].newsDate }}</h4>
        <p class="newsDescription">{{ newsDict["news"].newsDescription }}</p>
        <a target="_blank" href="{{ newsDict['news'].newsURL }}"><button class="learnMoreButton">Learn more</button></a>
    </div>
    <img class ="newsImage" src="/static/assets/newsImages/{{ newsDict['news'].newsImageName }}">
</div>